@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'League Spartan', sans-serif;
    }
}

.background {
    background-color: #0b0c10;
}
.background_secondary {
    background-color: #1F2833;
}

.primary {
    color: #66FCF1;
}

.secondary {
    color: #c5c6c7;
}

.triary {
    color: #45A29E
}

.quadrary {
    color: #1F2833;
}

.vh-screen {
    height: 86vh;
}

