@import 'tailwindcss';
@plugin '@tailwindcss/typography';


:root {
  /* Custom color palette */
  --plum-web: #db91d3;
  --lapis-lazuli: #4a659d;
  --eerie-black: #15171a;
  --rose-ebony: #6c5050;
  --vista-blue: #939ade;
  --bright-blue: #96d9d4;

}

body {
  background: var(--eerie-black);
  margin: 0;
  padding: 0;
}
